.chat-panel  {
	margin: 0;
	padding: 0;
}
	.messagess {
			margin: 20px 5px 5px 5px;
			padding:0;
			width: 100%;
			display: inline-block;
			position: relative;

			.name { 
				display: block;
				margin: 10px 20px;
				text-align: center;
				font-weight: bold;
				color: $name-font-color;
			}
 
			.time {
				width:8%;
 		 		box-sizing: border-box;
		 		display: inline-block;	
		 		top	: 60%;
		 		position:absolute;
		 		color: $time-font-color;
		 		font-weight: bold;
			}

			.text {
				padding: 7px;
				position: relative;
				border-radius: 5px;
				margin: 2px;
				width:89%;
				height: auto;
				
			} 

			.text:before {
			    width: 0;
			    height: 0;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    content: '';
			    top: -10px;
			    position: absolute;
	
	  		}


	}


	.input-message {
		@extend .messagess;

		.text {
			background-color: $in-message-color;
			float: left;
			margin-left: 1%;
		}	
		.time {
		  	text-align: center;
		    left: 91%;
		}

		.name { 
			text-align: left;
		}

		.text:before {
			right: 100%;
			margin-right: -35px;
			border-bottom: 10px solid  $in-message-color
		}	

	}


	.ouput-message {
		@extend .messagess;

		.text {
			background-color: $out-message-color;
			float: right;
			margin-right:2%;
		}
		.name {
			text-align: right;
			margin-right:4%;
		}

		.time{
			text-align: center;
		    left: -2%;
		}
		.text:before {
				left: 100%;
    			margin-left: -35px;
    			border-bottom: 10px solid $out-message-color
    	}
	}