html, body { margin: 0; padding: 0; width:100%; height:100%; }

body {
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	display: block;
	.contacts {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 20%;
		height: 100%; 
		float: left;
		background-color: #094;
	}

	.links {
		display: inline-block;
		margin: 0;
		width: 20%;
		height: 100%; 
		float: left;
		background-color: #034;
	}

	.chat-panel {
		display: inline-block;
		float: left;
		width: 60%;	
		height: 100%; 
		background-color: #043;
	}

}