$contacts-block-color : #B3C2D5;
$main-window-color : #FFF;
$links-block-color : #E7EBF4;
$header-color : #6191C2;

$out-message-color : #7BE583;
$in-message-color : #60C1F1;

$offline-color : #C76872;
$offline-border-color : #AF5860;
$online-color : #A4D576;
$online-border-color : #7DAE48;

$contacts-font-color : #7D8D9F;
$time-font-color : #A4BAD3;
$title-font-color: #FFF;
$name-font-color:  #6191C2;

$contact-font-size: 1.2em;
$header-font-size: 1.5em;